In [1]:
import numpy as np
import pandas as pd

In [2]:
housing_df = pd.read_csv("./datasets/dmba/WestRoxbury.csv")
housing_df.shape

(5802, 14)

## Perform HID

- head()
- info()
- describe()

In [3]:
housing_df.head()

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,None

In [4]:
# NOTE: Head only returns the top 5 rows by default. If your sample data is already highly ordered (top 5 belongs to the same group)
# using, .sample(5) might be a better option to explore the data
housing_df.sample(5)

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
4234,710.1,8933,10981,1910,4808,2694,2.0,10,6,2,1,1,1,None
381,348.3,4381,5441,1960,2416,1726,1.0,8,4,2,0,1,1,Recent
1448,334.5,4208,5652,1961,2643,1155,1.0,6,2,1,1,1,1,None
4145,391.1,4920,6903,1923,3177,1466,1.5,6,3,1,1,1,1,Recent
1275,377.2,4745,6000,1985,2548,1400,2.0,7,3,1,1,1,1,None

In [5]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5802 entries, 0 to 5801
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TOTAL VALUE   5802 non-null   float64
 1   TAX           5802 non-null   int64
 2   LOT SQFT      5802 non-null   int64
 3   YR BUILT      5802 non-null   int64
 4   GROSS AREA    5802 non-null   int64
 5   LIVING AREA   5802 non-null   int64
 6   FLOORS        5802 non-null   float64
 7   ROOMS         5802 non-null   int64
 8   BEDROOMS      5802 non-null   int64
 9   FULL BATH     5802 non-null   int64
 10  HALF BATH     5802 non-null   int64
 11  KITCHEN       5802 non-null   int64
 12  FIREPLACE     5802 non-null   int64
 13  REMODEL       5802 non-null   object
dtypes: float64(2), int64(11), object(1)
memory usage: 634.7+ KB

In [6]:
housing_df.describe()

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE
count,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.00000,5802.000000
mean,392.685715,4939.485867,6278.083764,1936.744916,2924.842123,1657.065322,1.683730,6.994829,3.230093,1.296794,0.613926,1.01534,0.739917
std,99.177414,1247.649118,2669.707974,35.989910,883.984726,540.456726,0.444884,1.437657,0.846607,0.522040,0.533839,0.12291,0.565108
min,105.000000,1320.000000,997.000000,0.000000,821.000000,504.000000,1.000000,3.000000,1.000000,1.000000,0.000000,1.00000,0.000000
25%,325.125000,4089.500000,4772.000000,1920.000000,2347.000000,1308.000000,1.000000,6.000000,3.000000,1.000000,0.000000,1.00000,0.000000
50%,375.900000,4728.000000,5683.000000,1935.000000,2700.000000,1548.500000,2.000000,7.000000,3.000000,1.000000,1.000000,1.00000,1.000000
75%,438.775000,5519.500000,7022.250000,1955.000000,3239.000000,1873.750000,2.000000,8.000000,4.000000,2.000000,1.000000,1.00000,1.000000
max,1217.800000,15319.000000,46411.000000,2011.000000,8154.000000,5289.000000,3.000000,14.000000,9.000000,5.000000,3.000000,2.00000,4.000000

In [7]:
# For better readability, use .T aka transpose method
housing_df.iloc[:5].T

                  0       1      2      3      4
TOTAL VALUE   344.2   412.6  330.1  498.6  331.5
TAX            4330    5190   4152   6272   4170
LOT SQFT       9965    6590   7500  13773   5000
YR BUILT       1880    1945   1890   1957   1910
GROSS AREA     2436    3108   2294   5032   2370
LIVING AREA    1352    1976   1371   2608   1438
FLOORS          2.0     2.0    2.0    1.0    2.0
ROOMS             6      10      8      9      7
BEDROOMS          3       4      4      5      3
FULL BATH         1       2      1      1      2
HALF BATH         1       1      1      1      0
KITCHEN           1       1      1      1      1
FIREPLACE         0       0      0      1      0
REMODEL        None  Recent   None   None   None

In [8]:
# Rename columns: replace spaces with '_' to allow dot notation.
housing_df.columns = [s.strip().replace(" ", "_").lower() for s in housing_df.columns]
housing_df.head()

,total_value,tax,lot_sqft,yr_built,gross_area,living_area,floors,rooms,bedrooms,full_bath,half_bath,kitchen,fireplace,remodel
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,None

In [9]:
housing_df.iloc[:10].total_value

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: total_value, dtype: float64

In [10]:
# 0=rows, 1=columns
# Concatenate the columns
pd.concat([housing_df.iloc[4:6, 0:2], housing_df.iloc[4:6, 4:6]], axis=1)

   total_value   tax  gross_area  living_area
4        331.5  4170        2370         1438
5        337.4  4244        2124         1060

In [11]:
housing_df.total_value[:10]

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: total_value, dtype: float64

In [12]:
print("Number of rows", len(housing_df.total_value))

Number of rows 5802

In [13]:
print("Mean of TOTAL_VALUE", housing_df.total_value.mean())

Mean of TOTAL_VALUE 392.6857149258877

## Sampling from the database

In [14]:
# Oversample houses with over 10 rooms
weights = [0.9 if rooms > 10 else 0.01 for rooms in housing_df.rooms]

housing_df.sample(5, weights=weights)

,total_value,tax,lot_sqft,yr_built,gross_area,living_area,floors,rooms,bedrooms,full_bath,half_bath,kitchen,fireplace,remodel
5656,555.8,6991,7235,1949,4221,2484,1.0,13,4,2,1,2,1,Recent
3058,740.6,9316,16576,1920,7187,4288,2.0,14,8,3,0,1,2,None
3834,750.6,9442,9795,1870,5212,3116,2.0,11,7,1,1,1,0,Recent
350,320.9,4036,8088,1967,2240,1726,1.0,8,3,2,0,1,0,None
4194,466.0,5862,5000,1957,2340,1908,2.0,11,3,2,1,1,1,None

## Preprocessing and Cleaning of Data

### Types of Variables

In [15]:
housing_df.columns

Index(['total_value', 'tax', 'lot_sqft', 'yr_built', 'gross_area',
       'living_area', 'floors', 'rooms', 'bedrooms', 'full_bath', 'half_bath',
       'kitchen', 'fireplace', 'remodel'],
      dtype='object')

In [16]:
housing_df.remodel.describe(), housing_df.remodel.unique()

(count     5802
 unique       3
 top       None
 freq      4346
 Name: remodel, dtype: object,
 array(['None', 'Recent', 'Old'], dtype=object))

In [17]:
# REMODEL needs to be converted from object to a categorical variable.
housing_df.remodel = housing_df.remodel.astype("category")

# Show number of categories
housing_df.remodel.cat.categories

Index(['None', 'Old', 'Recent'], dtype='object')

In [19]:
housing_df.remodel.dtype

CategoricalDtype(categories=['None', 'Old', 'Recent'], ordered=False)

### Handling Categorical Variables

In [20]:
# Creating dummy variables in pandas
# Use drop_first=True to drop the first dummy variable
housing_df = pd.get_dummies(housing_df, prefix_sep="_", drop_first=True)
housing_df.columns

Index(['total_value', 'tax', 'lot_sqft', 'yr_built', 'gross_area',
       'living_area', 'floors', 'rooms', 'bedrooms', 'full_bath', 'half_bath',
       'kitchen', 'fireplace', 'remodel_Old', 'remodel_Recent'],
      dtype='object')

In [21]:
housing_df.loc[:, "remodel_Old":"remodel_Recent"].head(5)

   remodel_Old  remodel_Recent
0            0               0
1            0               1
2            0               0
3            0               0
4            0               0

In [22]:
# Missing data: code for imputing missing data with median.

missing_rows = housing_df.sample(10).index
print(
    "Number of rows with valid BEDROOMS values after setting to NAN:",
    housing_df["bedrooms"].count(),
)
housing_df.loc[missing_rows, "bedrooms"] = np.nan

Number of rows with valid BEDROOMS values after setting to NAN: 5802

In [23]:
# Remove rows with missing values
reduced_df = housing_df.dropna()
print(
    "Number of rows after removing rows with missing values:",
    len(reduced_df),
)

Number of rows after removing rows with missing values: 5792

In [24]:
median_bedrooms = housing_df["bedrooms"].median()
median_bedrooms

3.0

In [25]:
# Replace the missing values using the median of the remaining values.
housing_df.bedrooms = housing_df.bedrooms.fillna(value=median_bedrooms)
print(
    "Number of rows with valid bedroom values after filling NA values:",
    housing_df.bedrooms.count(),
)

Number of rows with valid bedroom values after filling NA values: 5802

## Normalizing and Rescaling Data

In [26]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [27]:
df = housing_df.copy()

In [29]:
# Normalizing a data frame with pandas:
norm_df = (housing_df - housing_df.mean()) / housing_df.std()
norm_df

,total_value,tax,lot_sqft,yr_built,gross_area,living_area,floors,rooms,bedrooms,full_bath,half_bath,kitchen,fireplace,remodel_Old,remodel_Recent
0,-0.488879,-0.488507,1.381019,-1.576690,-0.552998,-0.564458,0.710905,-0.691980,-0.271672,-0.568528,0.723202,-0.124803,-1.309337,-0.33356,-0.421381
1,0.200795,0.200789,0.116835,0.229372,0.207196,0.590121,0.710905,2.090325,0.910806,1.347035,0.723202,-0.124803,-1.309337,-0.33356,2.372738
2,-0.631048,-0.631176,0.457697,-1.298834,-0.713635,-0.529303,0.710905,0.699173,0.910806,-0.568528,0.723202,-0.124803,-1.309337,-0.33356,-0.421381
3,1.067927,1.068020,2.807392,0.562799,2.383704,1.759502,-1.536872,1.394749,2.093283,-0.568528,0.723202,-0.124803,0.460235,-0.33356,-0.421381
4,-0.616932,-0.616749,-0.478735,-0.743123,-0.627660,-0.405334,0.710905,0.003597,-0.271672,1.347035,-1.150021,-0.124803,-1.309337,-0.33356,-0.421381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5797,0.122148,0.122241,0.181262,0.034873,-0.374262,0.105345,0.710905,1.394749,-0.271672,1.347035,0.723202,-0.124803,0.460235,-0.33356,2.372738
5798,0.153405,0.153500,1.172381,0.368300,-0.577886,-0.599614,0.710905,-0.691980,-0.271672,-0.568528,0.723202,-0.124803,0.460235,-0.33356,-0.421381
5799,0.139289,0.139073,0.344576,1.396366,-0.503224,0.031334,0.710905,0.003597,-0.271672,-0.568528,0.723202,-0.124803,0.460235,-0.33356,-0.421381
5800,-0.846823,-0.846781,0.229207,0.257158,-1.046220,-1.215759,-1.536872,-1.387556,-1.454150,-0.568528,-1.150021,-0.124803,-1.309337,-0.33356,-0.421381
5801,0.553697,0.553452,0.422487,0.368300,-0.469287,-0.105587,0.710905,0.003597,-0.271672,-0.568528,0.723202,-0.124803,0.460235,-0.33356,-0.421381

In [30]:
# Normalizing a data frame with scikit-learn:
scaler = StandardScaler()
norm_df = pd.DataFrame(
    # The result of the transformation is a numpy array, we convert it into a dataframe.
    scaler.fit_transform(housing_df),
    index=housing_df.index,
    columns=housing_df.columns,
)
norm_df

,total_value,tax,lot_sqft,yr_built,gross_area,living_area,floors,rooms,bedrooms,full_bath,half_bath,kitchen,fireplace,remodel_Old,remodel_Recent
0,-0.488921,-0.488550,1.381138,-1.576825,-0.553046,-0.564507,0.710966,-0.692039,-0.271696,-0.568577,0.723264,-0.124814,-1.309450,-0.333589,-0.421418
1,0.200812,0.200806,0.116845,0.229392,0.207214,0.590172,0.710966,2.090505,0.910884,1.347151,0.723264,-0.124814,-1.309450,-0.333589,2.372943
2,-0.631102,-0.631230,0.457736,-1.298946,-0.713696,-0.529349,0.710966,0.699233,0.910884,-0.568577,0.723264,-0.124814,-1.309450,-0.333589,-0.421418
3,1.068020,1.068112,2.807634,0.562847,2.383909,1.759654,-1.537005,1.394869,2.093464,-0.568577,0.723264,-0.124814,0.460275,-0.333589,-0.421418
4,-0.616985,-0.616802,-0.478777,-0.743187,-0.627714,-0.405369,0.710966,0.003597,-0.271696,1.347151,-1.150120,-0.124814,-1.309450,-0.333589,-0.421418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5797,0.122158,0.122252,0.181277,0.034876,-0.374295,0.105355,0.710966,1.394869,-0.271696,1.347151,0.723264,-0.124814,0.460275,-0.333589,2.372943
5798,0.153418,0.153513,1.172483,0.368332,-0.577935,-0.599666,0.710966,-0.692039,-0.271696,-0.568577,0.723264,-0.124814,0.460275,-0.333589,-0.421418
5799,0.139301,0.139085,0.344605,1.396486,-0.503267,0.031337,0.710966,0.003597,-0.271696,-0.568577,0.723264,-0.124814,0.460275,-0.333589,-0.421418
5800,-0.846896,-0.846854,0.229227,0.257180,-1.046310,-1.215864,-1.537005,-1.387675,-1.454276,-0.568577,-1.150120,-0.124814,-1.309450,-0.333589,-0.421418
5801,0.553745,0.553500,0.422523,0.368332,-0.469327,-0.105596,0.710966,0.003597,-0.271696,-0.568577,0.723264,-0.124814,0.460275,-0.333589,-0.421418

In [31]:
# Rescaling a data frame with pandas
norm_df = (housing_df - housing_df.min()) / (housing_df.max() - housing_df.min())
norm_df

,total_value,tax,lot_sqft,yr_built,gross_area,living_area,floors,rooms,bedrooms,full_bath,half_bath,kitchen,fireplace,remodel_Old,remodel_Recent
0,0.214953,0.215015,0.197472,0.934858,0.220237,0.177220,0.5,0.272727,0.250,0.00,0.333333,0.0,0.00,0.0,0.0
1,0.276420,0.276448,0.123156,0.967181,0.311878,0.307628,0.5,0.636364,0.375,0.25,0.333333,0.0,0.00,0.0,1.0
2,0.202283,0.202300,0.143194,0.939831,0.200873,0.181191,0.5,0.454545,0.375,0.00,0.333333,0.0,0.00,0.0,0.0
3,0.353702,0.353740,0.281323,0.973148,0.574253,0.439707,0.0,0.545455,0.500,0.00,0.333333,0.0,0.25,0.0,0.0
4,0.203541,0.203586,0.088145,0.949776,0.211237,0.195193,0.5,0.363636,0.250,0.25,0.000000,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5797,0.269410,0.269448,0.126943,0.963700,0.241784,0.252874,0.5,0.545455,0.250,0.25,0.333333,0.0,0.25,0.0,1.0
5798,0.272196,0.272234,0.185207,0.969667,0.217237,0.173250,0.5,0.272727,0.250,0.00,0.333333,0.0,0.25,0.0,0.0
5799,0.270938,0.270948,0.136544,0.988066,0.226238,0.244514,0.5,0.363636,0.250,0.00,0.333333,0.0,0.25,0.0,0.0
5800,0.183052,0.183085,0.129762,0.967678,0.160780,0.103657,0.0,0.181818,0.125,0.00,0.000000,0.0,0.00,0.0,0.0
5801,0.307872,0.307879,0.141124,0.969667,0.230329,0.229049,0.5,0.363636,0.250,0.00,0.333333,0.0,0.25,0.0,0.0

In [33]:
# Rescaling a data frame with scikit learn
scaler = MinMaxScaler()
norm_df = pd.DataFrame(
    scaler.fit_transform(housing_df), index=housing_df.index, columns=housing_df.columns
)
norm_df

,total_value,tax,lot_sqft,yr_built,gross_area,living_area,floors,rooms,bedrooms,full_bath,half_bath,kitchen,fireplace,remodel_Old,remodel_Recent
0,0.214953,0.215015,0.197472,0.934858,0.220237,0.177220,0.5,0.272727,0.250,0.00,0.333333,0.0,0.00,0.0,0.0
1,0.276420,0.276448,0.123156,0.967181,0.311878,0.307628,0.5,0.636364,0.375,0.25,0.333333,0.0,0.00,0.0,1.0
2,0.202283,0.202300,0.143194,0.939831,0.200873,0.181191,0.5,0.454545,0.375,0.00,0.333333,0.0,0.00,0.0,0.0
3,0.353702,0.353740,0.281323,0.973148,0.574253,0.439707,0.0,0.545455,0.500,0.00,0.333333,0.0,0.25,0.0,0.0
4,0.203541,0.203586,0.088145,0.949776,0.211237,0.195193,0.5,0.363636,0.250,0.25,0.000000,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5797,0.269410,0.269448,0.126943,0.963700,0.241784,0.252874,0.5,0.545455,0.250,0.25,0.333333,0.0,0.25,0.0,1.0
5798,0.272196,0.272234,0.185207,0.969667,0.217237,0.173250,0.5,0.272727,0.250,0.00,0.333333,0.0,0.25,0.0,0.0
5799,0.270938,0.270948,0.136544,0.988066,0.226238,0.244514,0.5,0.363636,0.250,0.00,0.333333,0.0,0.25,0.0,0.0
5800,0.183052,0.183085,0.129762,0.967678,0.160780,0.103657,0.0,0.181818,0.125,0.00,0.000000,0.0,0.00,0.0,0.0
5801,0.307872,0.307879,0.141124,0.969667,0.230329,0.229049,0.5,0.363636,0.250,0.00,0.333333,0.0,0.25,0.0,0.0

## Predictive Power and Overfitting

### Overfitting

In [36]:
from sklearn.model_selection import train_test_split

# random_state is set to a defined value to get the same partitions when re-running the code.
train_data, valid_data = train_test_split(housing_df, test_size=0.4, random_state=1)

In [37]:
print("Training", train_data.shape)
print("Validation", valid_data.shape)

Training (3481, 15)
Validation (2321, 15)

## Building a predictive model

### Modeling Process

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
# Data loading and preprocessing
housing_df = pd.read_csv("./datasets/dmba/WestRoxbury.csv")
housing_df.columns = [s.strip().replace(" ", "_").lower() for s in housing_df.columns]
housing_df = pd.get_dummies(housing_df, prefix_sep="_", drop_first=True)

In [40]:
# Create a list of predictors and outcome
exclude_columns = {"total_value", "tax"}
predictors = [s for s in housing_df.columns if s not in exclude_columns]
outcome = "total_value"

In [41]:
# Partition data
X = housing_df[predictors]
y = housing_df[outcome]

In [42]:
train_X, valid_X, train_y, valid_y = train_test_split(
    X, y, test_size=0.4, random_state=1
)

In [43]:
model = LinearRegression()
model.fit(train_X, train_y)
train_pred = model.predict(train_X)

In [45]:
train_result = pd.DataFrame(
    {"total_value": train_y, "predicted": train_pred, "residual": train_y - train_pred}
)
train_result.head()

      total_value   predicted   residual
2024        392.0  387.726258   4.273742
5140        476.3  430.785540  45.514460
5259        367.4  384.042952 -16.642952
421         350.3  369.005551 -18.705551
1401        348.1  314.725722  33.374278

In [46]:
# Predictions for a sample of validation data
valid_pred = model.predict(valid_X)
valid_results = pd.DataFrame(
    {"total_value": valid_y, "predicted": valid_pred, "residual": valid_y - valid_pred}
)
valid_results.head()

      total_value   predicted   residual
1822        462.0  406.946377  55.053623
1998        370.4  362.888928   7.511072
5126        407.4  390.287208  17.112792
808         316.1  382.470203 -66.370203
4034        393.2  434.334998 -41.134998

In [53]:
# Computing model evaluation metrics
from sklearn.metrics import mean_absolute_percentage_error, mean_squared_error

"RMSE", mean_squared_error(valid_y, valid_pred, squared=False)

('RMSE:', 42.72924497821965)

In [54]:
"MAPE", mean_absolute_percentage_error(valid_y, valid_pred)

('MAPE', 0.08328265826903711)