In [1]:
import numpy as np
import pandas as pd

In [2]:
housing_df = pd.read_csv("./datasets/dmba/WestRoxbury.csv")
housing_df.shape

(5802, 14)

In [3]:
housing_df.head()

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,None

In [4]:
# Rename columns: replace spaces with '_' to allow dot notation.
housing_df.columns = [s.strip().replace(" ", "_") for s in housing_df.columns]
housing_df.head()

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,None

In [5]:
housing_df.iloc[:10].TOTAL_VALUE

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: TOTAL_VALUE, dtype: float64

In [6]:
# 0=rows, 1=columns
# Concatenate the columns
pd.concat([housing_df.iloc[4:6, 0:2], housing_df.iloc[4:6, 4:6]], axis=1)

   TOTAL_VALUE   TAX  GROSS_AREA  LIVING_AREA
4        331.5  4170        2370         1438
5        337.4  4244        2124         1060

In [7]:
housing_df.TOTAL_VALUE[:10]

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: TOTAL_VALUE, dtype: float64

In [8]:
print("Number of rows", len(housing_df["TOTAL_VALUE"]))

Number of rows 5802

In [9]:
print("Mean of TOTAL_VALUE", housing_df["TOTAL_VALUE"].mean())

Mean of TOTAL_VALUE 392.6857149258877

In [10]:
housing_df.describe()

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE
count,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.00000,5802.000000
mean,392.685715,4939.485867,6278.083764,1936.744916,2924.842123,1657.065322,1.683730,6.994829,3.230093,1.296794,0.613926,1.01534,0.739917
std,99.177414,1247.649118,2669.707974,35.989910,883.984726,540.456726,0.444884,1.437657,0.846607,0.522040,0.533839,0.12291,0.565108
min,105.000000,1320.000000,997.000000,0.000000,821.000000,504.000000,1.000000,3.000000,1.000000,1.000000,0.000000,1.00000,0.000000
25%,325.125000,4089.500000,4772.000000,1920.000000,2347.000000,1308.000000,1.000000,6.000000,3.000000,1.000000,0.000000,1.00000,0.000000
50%,375.900000,4728.000000,5683.000000,1935.000000,2700.000000,1548.500000,2.000000,7.000000,3.000000,1.000000,1.000000,1.00000,1.000000
75%,438.775000,5519.500000,7022.250000,1955.000000,3239.000000,1873.750000,2.000000,8.000000,4.000000,2.000000,1.000000,1.00000,1.000000
max,1217.800000,15319.000000,46411.000000,2011.000000,8154.000000,5289.000000,3.000000,14.000000,9.000000,5.000000,3.000000,2.00000,4.000000

## Sampling from a database

In [11]:
# Random sample of 5 observations.
housing_df.sample(5)

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
1160,349.7,4399,10460,1953,2544,1426,1.5,6,3,2,0,1,1,None
3043,295.4,3716,4000,1930,2182,912,1.0,5,2,1,0,1,1,None
4778,335.7,4223,4850,1932,2630,1218,1.0,6,2,1,0,1,1,Old
1258,320.5,4031,4816,1925,2964,1553,1.5,7,3,1,1,1,0,None
673,322.9,4062,6612,1965,2847,2086,1.0,10,4,1,1,1,2,None

In [12]:
# Oversample houses with over 10 rooms
weights = [0.9 if rooms > 10 else 0.01 for rooms in housing_df.ROOMS]
housing_df.sample(5, weights=weights)

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
3564,453.6,5706,5000,1910,5401,2951,2.0,13,4,2,0,1,0,None
3457,689.3,8671,7000,1848,6235,3446,2.0,12,5,3,0,1,2,None
3547,349.3,4394,5792,1890,3000,2032,2.0,12,3,2,0,1,0,None
4111,603.6,7593,14400,1910,4023,2534,2.0,7,4,2,1,1,0,None
3613,570.2,7173,8562,1920,5313,3436,2.5,11,6,2,1,1,3,Old

## Preprocessing and Cleaning of Data

### Types of Variables

In [13]:
housing_df.columns

Index(['TOTAL_VALUE', 'TAX', 'LOT_SQFT', 'YR_BUILT', 'GROSS_AREA',
       'LIVING_AREA', 'FLOORS', 'ROOMS', 'BEDROOMS', 'FULL_BATH', 'HALF_BATH',
       'KITCHEN', 'FIREPLACE', 'REMODEL'],
      dtype='object')

In [14]:
housing_df.REMODEL.describe(), housing_df.REMODEL.unique()

(count     5802
 unique       3
 top       None
 freq      4346
 Name: REMODEL, dtype: object,
 array(['None', 'Recent', 'Old'], dtype=object))

In [15]:
# REMODEL needs to be convered to a categorical variable.
housing_df.REMODEL = housing_df.REMODEL.astype("category")

# Show number of categories
housing_df.REMODEL.cat.categories

Index(['None', 'Old', 'Recent'], dtype='object')

In [16]:
housing_df.REMODEL.dtype

CategoricalDtype(categories=['None', 'Old', 'Recent'], ordered=False)

### Handling Categorical Variables

In [17]:
# Creating dummy variables in pandas
# Use drop_first=True to drop the first dummy variable
housing_df = pd.get_dummies(housing_df, prefix_sep="_", drop_first=True)
housing_df.columns

Index(['TOTAL_VALUE', 'TAX', 'LOT_SQFT', 'YR_BUILT', 'GROSS_AREA',
       'LIVING_AREA', 'FLOORS', 'ROOMS', 'BEDROOMS', 'FULL_BATH', 'HALF_BATH',
       'KITCHEN', 'FIREPLACE', 'REMODEL_Old', 'REMODEL_Recent'],
      dtype='object')

In [18]:
housing_df.loc[:, "REMODEL_Old":"REMODEL_Recent"].head(5)

   REMODEL_Old  REMODEL_Recent
0            0               0
1            0               1
2            0               0
3            0               0
4            0               0

In [19]:
# Missing data: code for imputing missing data with median.

missing_rows = housing_df.sample(10).index
print(
    "Number of rows with valid BEDROOMS values after setting to NAN:",
    housing_df["BEDROOMS"].count(),
)
housing_df.loc[missing_rows, "BEDROOMS"] = np.nan

Number of rows with valid BEDROOMS values after setting to NAN: 5802

In [20]:
# Remove rows with missing values
reduced_df = housing_df.dropna()
print(
    "Number of rows after removing rows with missing values:",
    len(reduced_df),
)

Number of rows after removing rows with missing values: 5792

In [22]:
median_bedrooms = housing_df['BEDROOMS'].median()
median_bedrooms

3.0

In [23]:
# Replace the missing values using the median of the remaining values.
housing_df.BEDROOMS = housing_df.BEDROOMS.fillna(value=median_bedrooms)
print('Number of rows with valid bedroom values after filling NA values:', housing_df.BEDROOMS.count())

Number of rows with valid bedroom values after filling NA values: 5802